@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Lato",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
@import "~bulma/bulma.sass";

.box-shadow-b {
  box-shadow: 0 0.125em 0.25em rgba(10, 10, 10, 0.1);
}

.amortization-info {
  .columns:not(:last-child) {
    margin-bottom: 10px;
  }
}
